DATABASE_URL=postgresql://postgres.zseaizukjdarfkgnclxd:HG%3FkxqrD_%3FMLCt3@aws-1-us-west-2.pooler.supabase.com:6543/postgres
DIRECT_URL=postgresql://postgresHG%3FkxqrD_%3FMLCt3@db.zseaizukjdarfkgnclxd.supabase.co:5432/postgres
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

